<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/vars.css">
  <link rel="stylesheet" href="static/style.css">
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="home">
    <div class="section">
      <div class="div-hero-block-carousel-wrapper-margin">
        <div class="div-hero-block-carousel-wrapper"></div>
      </div>
      <div class="web">
        <div class="content">
          <div class="row">
            <div class="card-1">
              <div class="text">
                <div class="title">Real Time Monitoring</div>
                <div class="paragraph">
                  Streams live video from surveillance cameras in the exam hall to
                  invigilators or a control room
                </div>
              </div>
              <div class="image"></div>
              <img class="rectangle-13" src="static\pictures\rectangle-130.png" />
            </div>
            <div class="card-2">
              <div class="text">
                <div class="title">Alert System</div>
                <div class="paragraph">
                  Sends alerts to invigilators about unusual activities or rule
                  violations, such as Movement outside predefined zones,multiple
                  head turns
                </div>
              </div>
              <div class="image2">
                <img class="rectangle-14" src="static\pictures\rectangle-140.png" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-3">
              <div class="text">
                <div class="title">Unauthorized Material Detection</div>
                <div class="paragraph">
                  Detects hand gestures like writing, hiding, or using
                  unauthorized devices.Differentiates between normal actions
                  (writing, raising a hand) and abnormal ones (unauthorized
                  signaling).
                </div>
              </div>
              <div class="image"></div>
            </div>
            <div class="card-4">
              <div class="text">
                <div class="title">Anomalies Detection</div>
                <div class="paragraph">
                  Detect and track unusual activities such as cheating, unauthorized access, or irregular student behavior.
                  Monitor exam sessions in real-time to spot suspicious behavior, technical issues, or rule violations.
                </div>
              </div>
              <div class="image">
                <img class="rectangle-142" src="static\pictures\anomaly.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="heading">Our Features</div>
        <div class="row2">
          <div class="card-3">
            <div class="text">
              <div class="title">Exam Scheduling</div>
              <div class="paragraph">
                Allows setting exam dates, times, and durations for each subject
                or batch.Assigns exam halls based on availability and capacity
              </div>
            </div>
            <div class="image">
              <img class="rectangle-13" src="static\pictures\rectangle-131.png" />
            </div>
          </div>
          <div class="card-4">
            <div class="text">
              <div class="title">Administrator and Staff</div>
              <div class="paragraph">
                Administrator Page Features:
                Manage user roles, schedule exams, and monitor real-time progress. 
                
                Staff Page Features:
                View assigned exams, monitor student behavior, and report incidents.
              </div>
            </div>
            <div class="image">
              <img class="rectangle-143" src="static\pictures\admin.jpeg" />
            </div>
          </div>
        </div>
        <img class="rectangle-132" src="static\pictures\rectangle-132.png" />
        <div
          class="section2"
          style="
            background-color: black;
          "
        >
          <div class="heading-3-get-started-with-otake">About Smart Invigilator</div>
          <div
            class="we-are-a-passionate-team-dedicated-to-revolutionizing-the-way-examinations-are-conducted-and-monitored-our-innovative-exam-hall-monitoring-system-integrates-cutting-edge-technologies-to-ensure-the-highest-standards-of-integrity-and-efficiency-during-exams-with-features-like-real-time-surveillance-ai-driven-behavior-analysis-emotion-and-gesture-detection-and-seamless-exam-scheduling-our-system-provides-a-comprehensive-solution-for-educational-institutions-and-examination-bodies-our-mission-is-to-create-a-secure-fair-and-stress-free-examination-environment-by-leveraging-advanced-tools-and-intelligent-automation-we-strive-to-empower-invigilators-with-actionable-insights-streamline-exam-processes-and-uphold-the-credibility-of-academic-assessments"
          >
            We are a passionate team dedicated to revolutionizing the way
            examinations are conducted and monitored. Our innovative Exam Hall
            Monitoring System integrates cutting-edge technologies to ensure the
            highest standards of integrity and efficiency during exams.
            <br />
            <br />
            With features like real-time surveillance, AI-driven behavior
            analysis, emotion and gesture detection, and seamless exam scheduling,
            our system provides a comprehensive solution for educational
            institutions and examination bodies.
            <br />
            <br />
            Our mission is to create a secure, fair, and stress-free examination
            environment by leveraging advanced tools and intelligent automation.
            We strive to empower invigilators with actionable insights, streamline
            exam processes, and uphold the credibility of academic assessments.
          </div>
        </div>
      </div>
      <div
        class="section3"
        style="background-color: black;"
      >
        <img
          class="_66303513-e-76-c-9555-d-5583-b-18-cta-20-logo-png"
          src="static\pictures\_66303513-e-76-c-9555-d-5583-b-18-cta-20-logo-png0.png"
        />
        <div class="heading-3-get-started-with-otake2">
          Get Started With Smart Invigilator.
        </div>
        <div
          class="explore-a-new-realm-of-efficiency-and-accuracy-with-our-system"
        >
          Explore a new realm of efficiency and accuracy with our system
        </div>
        <!-- Updated "Get Started" button -->
        <a href="/login">
          <div class="link">
            <div class="get-startes">Get Started</div>
          </div>
        </a>
      </div>
      <div class="p-hero-block-caption-margin">
        <div class="p-hero-block-caption">
          <div class="welcome-to-exam-secure-your-trusted-exam-monitoring-system">
            Welcome to Smart Invigilator ,Your Trusted exam monitoring system
          </div>
        </div>
      </div>
      <div class="heading-1">
        <div class="ensure-integrity-enhance-efficiency">
          ENSURE INTEGRITY,ENHANCE EFFICIENCY
        </div>
      </div>
    </div>
    <div class="div-hero-block-content-margin">
      <div class="link-margin"></div>
      <div class="div-hero-block-content">
        <div class="div-hero-cta"></div>
        <div class="heading-11">
          <div class="ai-driven-autonomous-exam-hall-monitoring-system">
          AI-Driven Autonomous Exam Hall Monitoring System
          </div>
        </div>
      </div>
    </div>
    <div class="div-menu-container">
      <div class="exam-secure">Smart Invigilator.</div>
      <div class="list">
        <!-- Updated "Sign Up" button -->
        <a href="/register">
          <div class="item">
            <div class="link-pricing">Sign Up</div>
          </div>
        </a>
        <!-- Updated "Sign In" button -->
        <a href="/login">
          <div class="item2">
            <div class="link-help">Sign In</div>
          </div>
        </a>
        <div class="item3">
          <div class="link-log-in">Services</div>
        </div>
        <div class="item4">
          <div class="link2">
            <div class="about-us">About us</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-5">
      <div class="rectangle-2"></div>
      <img class="group-1" src="static\pictures\group-10.svg" />
      <div
        class="the-smart-invigilator-project-presents-an-innovative-solution-to-enhance-examination-monitoring-by-integrating-advanced-technologies-such-as-artificial-intelligence-computer-vision-and-real-time-data-analytics"
      >
        The &quot;Smart Invigilator&quot; project presents an innovative solution
        to enhance examination monitoring by integrating advanced technologies
        such as artificial intelligence, computer vision, and real-time data
        analytics
      </div>
      <div class="website-links">Website Links</div>
      <div class="services">Services</div>
      <div class="home2">Home</div>
      <div class="real-time-monitoring">Real Time Monitoring</div>
      <div class="about">About</div>
      <div class="alerts-system">Alerts System</div>
      <div class="get-in-touch">Get in touch</div>
      <div class="exam-scheduling">Exam Scheduling</div>
      <div class="fa-qs">FAQs</div>
      <div class="support-community">Support &amp; Community</div>
      <div class="line-1"></div>
      <div class="languages">Languages</div>
      <div class="frame-1">
        <div class="english">English</div>
      </div>
      <div class="hindi">Hindi</div>
      <img class="rectangle-1" src="static\pictures\rectangle-10.svg" />
      <div class="group-3">
        <div class="group-2">
          <div class="frame-12">
            <div class="subscribe-now">Subscribe Now</div>
          </div>
        </div>
        <div class="frame-4">
          <div class="enter-your-email">Enter your email</div>
        </div>
      </div>
      <div class="group-4">
        <div class="subscribe-to-get-updated">Subscribe To get updated</div>
      </div>
      <div class="exam-secure2">Smart Invigilator.</div>
      <img class="image-1" src="static\pictures\image-10.png" />
    </div>
  </div>
</body>
</html>